<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Registration</title>
</head>
<body>
<div align="center">
    <h1>Student Registration</h1>
    <form action="#" th:action="@{/add}" method="post" th:object="${student}">
        <label>Full name:</label>
        <input type="text" th:field="*{name}" /><br/>
 
        <label>E-mail:</label>
        <input type="text" th:field="*{email}" /><br/>
 
        <label>Password:</label>
        <input type="text" th:field="*{studentNo}" /><br/>
 
        <label>Birthday (yyyy-mm-dd):</label>
        <input type="text" th:field="*{birthday}" /><br/>
 
        <label>Gender:</label>
        <input type="radio" th:field="*{gender}" value="Male" />Male
        <input type="radio" th:field="*{gender}" value="Female" />Female<br/>
 
        <label>Grade:</label>
        <select th:field="*{level}">
            <option th:each="p : ${listLevel}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>
 

        <br/>
 
        <button type="submit">Register</button>    
    </form>
</div>
</body>
</html>